@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------- Body ---------------------------- */

body {
    font-family: Poppins, sans-serif;
}

/*------------------------- Container ----------------------- */

.container {
    max-width: 95%;
    padding: 0;
    margin: 0 auto;
}

/*------------------------- Headings ------------------------- */

h2, h3 {
    text-align: center;
}

/*------------------------- Game Board ----------------------- */

.game-board, row {
    display: flex;
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 200%;
}

.game-square-1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.game-square-2 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.game-square-3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.game-square-4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.game-square-5 {
    border: 1px solid black;
}

.game-square-6 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.game-square-7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.game-square-8 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.game-square-9 {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

/*------------------------- Buttons ----------------------- */

#top-buttons, bottom-button {
    margin-top: 10px;
    margin-bottom: 15px;
    
}


#new-game {
    width: 50%;
}

#instructions {
    cursor: help;
}

#reset {
    margin: 0 auto;
}

#playerToPlay {
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
    background-color: black;
    color: yellow;
}

.btn-sm {
    background-color: forestgreen;
    color: white;
}

#scores {
    margin: 5px;
}

footer div {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}
