@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------- Container ----------------------- */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*------------------------- Game Board ----------------------- */

.game-board {
    height: 75px;
    max-width: 80%;
    margin: 0 auto;
}

.game-square-1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-2 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-5 {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-6 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-8 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.game-square-9 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    text-align: center;
}